#content {
  margin: 4rem auto 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about {
  color: #888;
}
