@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #Ffffff;
  --foreground: #171717;
  --pale-orange: #fdeadb;
  --pale-pink: #fce3f4;
  --pale-green: #e7f3e0;
  --pale-blue: #dbf2fc;
  --off-white: #f2f4f5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
